.box {
  max-width: 720px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 40px;
  background-color: #1c1c21;
  transition: all 3s ease;
  z-index: 2;
}
  
.closeBtn {
  position: absolute;
  padding: 0;
  z-index: 3;
  width: 24px;
  height: 24px;
  top: 63px;
  right: 40px;
  justify-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
  
.closeBtn:hover {
  opacity: 0.6;
}
  
.title {
  text-align: left;
}
  